@import "tailwindcss";

@layer utilities {
  .bg-bege-suave {
    /* color: #606C38; */
    background-color: #FEFAE0;
  }
   
  .text-marrom-profundo {
    color: #283618;
  }

  .text-verde-terra {
    /* background-color: #FEFAE0; */
    color: #606C38
  }

  .text-laranja-natural {
    color: #DDA15E;
  }

  .bg-laranja-escuro {
    background-color: #BC6C25;
  }
}