<% content_for :title, "Editing product" %>

<div class="md:w-2/3 w-full mx-auto p-6 bg-white rounded-lg shadow-md">
  <h1 class="font-bold text-4xl text-marrom-profundo mb-6">Editing product</h1>

  <%= render "form", admin_product: @admin_product %>

  <div class="flex flex-col sm:flex-row gap-4 mt-8">
    <%= link_to "Show this product", [:admin, @admin_product], class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-bege-suave hover:bg-laranja-natural text-marrom-profundo font-medium transition-colors" %>
    
    <%= link_to "Back to products", admin_products_path, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-bege-suave hover:bg-laranja-natural text-marrom-profundo font-medium transition-colors" %>
  </div>
</div>